body {
  margin:0 auto;
  text-align:center;
  font-family: Montserrat;
}

// variables
  $red:#FF4E50;
  $darkgrey: #444444;
  $grey:#666666;
  $lightgrey:#999999;
  $offwhite:#E3E3E3;
  $white:#fff;
  $black:#000;
// grid

// animations

// buttons
  .hollowButton {
    margin-left:19px;
    padding: 5px 12px;
    width: 90px;
    border: 2px solid $white;
    border-radius: 40px;
  }
  .filledButton {
    	height: 40px;
      width: 225px;
      border-radius: 40px;
      background-color: $red;
      border:none;
      color:#fff;
      font-weight:bold;
  }
  .redHollowButton {
    height: 40px;
    width: 225px;
    border-radius: 40px;
    border:2px solid $red;
    font-weight:bold;
    margin:0 auto;
    margin-top:36px;
    margin-bottom:95px;
  }
  .redHollowButton p {
    color:$red !important;
  }

// nav
  .navBar {
    list-style-type: none;
    display:inline;
    margin-left:calc(100vw - 250px);
    margin-top:3vh;
    position:absolute;
  }
  a {
    text-decoration:none;
    color:$white;
  }
  li {
    display:inline;
    font-size:14px;
  }
  .topLogo {
    font-size: 20px;
    font-weight:bold;
    color:$white;
    top:1vh;
    margin-top:0;
    margin-left:100px;
    position: absolute;
  }


// typography
  h1 {
    width: 473px;
    color: $white;
    font-family: Montserrat;
    font-size: 52px;
    font-weight: bold;
    line-height: 63px;
    text-align: center;
    text-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    margin: 0 auto;
  }
  h2 {
    margin: 0 auto;
    font-size:24px;
  }
  h3 {
    margin: 0 auto;
    font-size:18px;
  }
  p {
    margin: 0 auto;
    font-size:14px;
  }
  .roboto {
    font-family: Roboto;
  }
  .subtext {
    font-size:24px;
    font-weight:300;
    color:$white;
  }


// hero
  .heroImg {
    height: 736px;
    width: 100%;
    background-color:$black;
    background-image: url("../assets/hero-image.png");
    background-size:cover;
    background-position:left;
    text-align:left;
  }
  .titleSection {
    width:473px;
    padding-top:241.5px;
    text-align:center;
    line-height: 63px;
    margin: 0 auto;
  }
  .headline {
    margin-top:85px;
    margin-bottom:35px;
    color:$darkgrey;
  }

// cards
  .cardContainer {
    width:960px;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
  }
  .card {
    height:400px;
    width:300px;
    background-image: url("../assets/card1.png");
    margin:auto;
    text-align:left;
    border-radius: 4px;
  }
  .cardContent {
    margin-left:19px;
    color:#fff;
  }
  .cardSubtext {
    color:$offwhite;
  }
  .stepButton {
    height:20px;
    width:70px;
    border-radius: 40px;
    background-color: $red;
    border:none;
    color:$white;
    margin-top:219px;
    font-size:13px;
    text-align:center;
  }

// bios
  .bioContainer {
    width:960px;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
  }
  .bio {
    width:228px;
    margin: auto;
  }
  .avatar {
    width:126px;
  }
  .containterThree {
    text-align:center;
  }
  .containerThree p {
    margin-top:14px;
    color:$grey;
  }

// slides
  .slideContainer {
    width:960px;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
  }

  .sqSlide {
    height:310px;
    width:300px;
    background-image: url('../assets/runner.png');
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-bottom:20px;
    border-radius:4px;
  }
  .sqSlide h2 {
    padding-top:142px;
    color:$white;
  }
  .longSlide {
    height:310px;
    width:620px;
    background-image: url('../assets/culture.png');
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-bottom:20px;
    border-radius:4px;
  }
  .longSlide h2 {
    padding-top:142px;
    color:$white;
  }

// footer
  .footer {
    height: 224px;
    width:100%;
  }
  .formSubtext {
    color:$darkgrey;
    margin-bottom:25px;
  }
  input {
    height: 40px;
    width: 299px;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    background-color: $white;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5),
    0 1px 2px 0 rgba(0,0,0,0.07);
  }
  .footer .filledButton {
    height: 40px;
    width: 172.13px;
    border-radius: 40px;
    background-color: $red;
    margin-left:10px;
  }
  hr {
    margin-top:100px;
    height: 2px;
    width: 100vw;
    background-color: $red;
    border:none;
  }
  .footer a {
    color:$darkgrey;
  }
  .footerLinks {
    margin-top:39px;
    display:flex;
  }
  .footerLinks table {
    margin-left:10vw;
  }
  .bottomLogo {
    margin-left:10vw;
    color:$red !important;
  }
  th, .partners {
    font-weight:bold;
    color:$darkgrey;
    text-align:left;
  }
  td {
    text-align:left;
  }
  .partners {
    margin-left:10vw;
    display:block;
  }
  td a {
    text-align:left;
    color:$lightgrey !important;
    font-family:Roboto !important;
  }

// breakpoints

  //phone
  @media only screen and (max-device-width : 700px) {

    // hero
      .heroImg {
        height:90vh !important;
        background-position:center !important;
        text-align:center;
      }
      .topLogo {
        margin-top:160px;
        margin-left:0 !important;
      }
      .titleSection {
        width:273px;
        padding-top:241.5px;
        text-align:center;
        line-height: 63px;
        margin: 0 auto;
      }
      .heroImg h1 {
        font-size:30px;
        line-height:37px;
      }
      .heroImg h2 {
        margin-top:10px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0 2px 10px 0 #000000;
      }

    //nav
      .navBar{
        margin:0 auto !important;
        top:20px;
        left:-15px;
        position:relative !important;
      }


    // cards
      .cardContainer {
        width:310px;
      }
      .card {
        height: 240px;
        width: 90vw;
        margin:auto;
        margin-bottom:20px;
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
      }
      .stepButton {
        margin-top:68px;
      }
      .cardContent h2 {
        margin-top:3px;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
      }
      .cardSubtext {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
      }

    // bios
      .bioContainer {
        width:100vw;
      }
      .bio {
        height:200px;
        width:100vw;
        margin: auto;
        margin-bottom:20px;
      }
      .avatar {
        width:150px;
        height:150px;
      }

    // slides
      .slideContainer {
        width:100vw;
      }

      .longSlide, .sqSlide {
        height:120px;
        width:90vw;
        margin: auto;
        margin-bottom:20px;
      }
      .longSlide h2 {
        padding-top:50px;
      }
      .sqSlide h2 {
        padding-top:50px;
      }

    // footer
      .footer {
        height:200px;
        width:100%;
      }
      .footer button {
        margin-top:20px;
      }

      .w-resize100 {
        width: 100% !important;
      }
      .w-resize90 {
        width: 90% !important;
      }
      .w-resize80 {
        width: 80% !important;
      }
  }

  //ipad
  @media only screen and (min-device-width : 700px) and (max-device-width : 1366px) {
    // hero
      .heroImg {
        height:736px;
        width:100vw;
      }

    // cards
      .cardContainer {
        width:100%;
      }
      .card {
        height:400px;
        width:236px !important;
        margin:auto;
        margin-bottom:20px;
      }

    // bios
      .bioContainer {
        width:492px;
      }
      .bio {
        width:236px;
        margin: auto;
        margin-bottom:20px;
      }


    // slides
      .slideContainer {
        width:748px;
      }
      .sqSlide {
        height:310px;
        width:236px;
        margin: auto;
        margin-bottom:20px;
      }

      .longSlide {
        height:310px;
        width:492px;
        margin: auto;
        margin-bottom:20px;
      }


    // footer
      .footer {
        height:200px;
        width:100vw;
      }
  }
